@media only screen and (min-width: 62.5em) { /* > 1000 */

  .header .grid,
  .panels-flexible-row-inside,
  .panels-ipe-portlet-content,
  .below-content .grid,
  .breadcrumb,
  #page-title,
  .footer .grid,
  .profile, #user-login{
    max-width: 1000px;
  }

  .one-sidebar .main {
    width: 60%;
  }
  .one-sidebar #sidebar-first {
    width: 40%;
  }

  .below-content #block-views-servicios-servicios-bloques-peq,
  .below-content #block-block-3 {
  width: 50%;
}

.fila-dos-columnas .bloque-izq, .fila-dos-columnas .bloque-der {width: 49.4%}
.fila-tres-columnas .bloque-izq, .fila-tres-columnas .bloque-der, .fila-tres-columnas .bloque-centro {width: 32.99%}
.panel-flexible .panel-flexible-inside .seg-fila .bloque-servicios-home{
	padding-right: 130px;
}

.panels-flexible-una_fila_tres_columnas .panels-flexible-region-inside-first { padding-left: 0; }
.panels-flexible-una_fila_tres_columnas .panels-flexible-region-inside-last { padding-right: 0; }

.servicios-bloques .view-content {width: 100%; margin: 0;}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b1{
  margin-right: 39px;
}

#flexslider-1.flexslider img{
  min-height: 630px;
}

.view-servicios .box-imagen-servicio{
  padding-left: 7px;
}

.view-servicios .box-imagen-servicio.b1 {
  margin-right: 20px;
  margin-bottom: 20px;
}

.view-servicios .box-imagen-servicio.b2 {
  margin-bottom: 20px;
}
#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b2{
  margin-right: 39px;
}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b3{
  margin-right: 0px;
  margin-left: 7px;
}

.view-servicios .box-imagen-servicio.b3 {
  margin-right: 20px;
}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b4{
  margin-right: 20px;
}

#flexslider-1.flexslider .views-field-nothing{
  top: 130px; 
}

#flexslider-1.flexslider .banner-grande-caption{
  width: 515px;
  height: 305px;
  padding-right: 30px;
  padding-left: 30px;
}
.f-peq #flexslider-1.flexslider img{
  max-height: 211px;
  min-height: 211px;
}

#flexslider-1.flexslider .banner-grande-caption.peq{
  width: 320px;
  height: 72px;
  margin-top: -43px;
}
#flexslider-1.flexslider .banner-grande-caption.peq .titulo p{
  font-weight:800;
  text-align:center;
  font-size: 35px;
  line-height: 47px;
}

#flexslider-1.flexslider .banner-grande-caption .titulo p{
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 28px;
}

#flexslider-1.flexslider .banner-grande-caption p.descripcion{
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 23px;
}
#flexslider-1.flexslider .banner-grande-caption a{
  font-size: 20px;  
}

.contenedor-webform{
  width: 1000px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}
.block-webform{
  width: 448px;
  height: 630px;
  position: absolute;   
}

#block-block-4 #cintillo h4,
#block-block-6 #cintillo h4{
  width: auto;
  margin-top: 3px;
  font-size: 31px;
  line-height: 118px;
}
#block-block-4 #cintillo a,
#block-block-6 #cintillo a{
  line-height: 45px;
  font-size: 20px;
}
#block-block-4 #cintillo .consultar,
#block-block-6 #cintillo .consultar{
  float:right;
  margin-top: 38px;
  clear: none;
}

.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b1,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b2,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b3,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b4{
  margin-right: 20px;
  
}
.title#page-title{
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: 35px;
}
.not-front .panel-flexible .panel-flexible-inside .encabezado .panels-flexible-row-inside-first p,
.not-front .panel-display .pane-custom .pane-content,
.detalle-socios p{
  padding-right: 30px;
  padding-left: 30px;
  font-size: 19px;
  line-height: 21px;
}
.panel-flexible .panel-flexible-inside .panels-flexible-row-first{
  padding-top: 60px;
  padding-bottom: 60px;
}
#block-block-5 #bloque-comunidad .logos-comunidad img{
  width: 190px;
}

.panel-flexible .panel-flexible-inside .seg-fila .bloque-servicios-home{
  margin-bottom: 0px;
}

.footer .grid #block-menu-block-1{
  width: 250px;
}
.footer .grid #block-menu-block-2{
  width: 230px;
}
.footer .grid #block-menu-block-3{
  width: 210px;
}

.logos-comunidad{
  width: 100%;
  height: 100px;
}
#block-block-5 #bloque-comunidad .logos-comunidad div img{
  margin: 0px;
  margin-left: 10px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.logos-comunidad>div {
  float: left;
  height: 90px;
  margin-bottom: 0px;
}

#block-block-5 #bloque-comunidad .logos-comunidad div img:hover{
  margin-top: 10px;
}

.panels-flexible-layout_servicios .panels-flexible-region-inside-first{
  padding-left: 0px;
}
.panels-flexible-layout_servicios .panels-flexible-region-inside{
  padding-right: 0px;
}

.views-field-field-beneficios ul li{
  width: 320px;
  height: 260px;
  padding: 20px;
  margin-right: 15px;
}
.views-field-field-beneficios ul li .beneficios-titulo p{
  font-size: 21px;
}
.views-field-field-beneficios ul li .beneficios-contenido p{
  font-size: 15px;
  line-height: 20px;
}

#block-system-main-menu {
  display: block;
}

.view-servicios {
   margin-left: 7px; 
}

.slicknav_menu {display: none;}

.header .utility-bar #cambio-idioma {
  margin-right: 0px;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos_descript {
  font-size: 19px;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos_titulo {
  font-size: 25px;
}


#block-views-socios-block-socios-resumenes .bloques-socios .views-row{
  margin-right: 150px;
  margin-left: 0px;
}

#block-views-socios-block-socios-resumenes .bloques-socios .views-row-3,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-6,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-9,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-12,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-15,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-18
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-21{
  margin-right: 0px;
}


















}