@media only screen and (min-width: 62.5em) { /* > 1000 */

  .header .grid,
  .panels-flexible-row-inside,
  .panels-ipe-portlet-content,
  .below-content .grid,
  .breadcrumb,
  #page-title,
  .footer .grid,
  .profile, #user-login{
    max-width: 1000px;
  }

  .one-sidebar .main {
    width: 60%;
  }
  .one-sidebar #sidebar-first {
    width: 40%;
  }

  .below-content #block-views-servicios-servicios-bloques-peq,
  .below-content #block-block-3 {
  width: 50%;
}

.fila-dos-columnas .bloque-izq, .fila-dos-columnas .bloque-der {width: 49.4%}
.fila-tres-columnas .bloque-izq, .fila-tres-columnas .bloque-der, .fila-tres-columnas .bloque-centro {width: 32.99%}
.panel-flexible .panel-flexible-inside .seg-fila .bloque-servicios-home{
	padding-right: 130px;
}

.panels-flexible-una_fila_tres_columnas .panels-flexible-region-inside-first { padding-left: 0; }
.panels-flexible-una_fila_tres_columnas .panels-flexible-region-inside-last { padding-right: 0; }

.servicios-bloques .view-content {width: 100%; margin: 0;}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b1{
  margin-right: 39px;
}

.view-servicios .box-imagen-servicio.b1 {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 7px;
}

.view-servicios .box-imagen-servicio.b2 {
  margin-bottom: 20px;
}
#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b2{
  margin-right: 39px;
}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b3{
  margin-right: 0px;
  margin-left: 7px;
}

.view-servicios .box-imagen-servicio.b3 {
  margin-right: 20px;
}

#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b4{
  margin-right: 20px;
}



}