@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,800|Open+Sans);
/*
  =BASE
--------------------------------------------- */
html {
 /* border-top: 6px solid #000; */ /*Comentado por Andrey*/
}
body {
  padding: 0;
  margin: 0;
}
/*
  =LAYOUT -- mobile first
--------------------------------------------- */
.header .grid,
.main-content,
.below-content .grid,
.footer .grid {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.one-sidebar .main {
  width: 100%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 100%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}

/*
  =LINKS
--------------------------------------------- */
a:link,
a:visited {
  border-bottom: none;
  text-decoration: none;
  color: rgb(80,80,80);
  outline: none;
}

a:hover {
  border-bottom: none;
  background: none;
  color: rgb(0,0,0);
}

a:active {
  outline: none;
}

/* Andrey 11-11-2014 */
.header{
	border-bottom: 1px solid #58595B;
	height: 155px;
}
.header .utility-bar{
	height: 50px;
	background-color: #EA0028;
}
.header .utility-bar #cambio-idioma{
	float:right;
}
.header .utility-bar #cambio-idioma a{
	display:block;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	line-height: 50px;
	color: #FFF;
	float:left;
	text-transform:uppercase;	
}
.header .utility-bar #cambio-idioma span{
	float:left;
	line-height: 45px;
	color: #FFF;
	margin: 0px 10px;
}
.header .utility-bar #cambio-idioma a.active,
.header .utility-bar #cambio-idioma a:hover{
	font-weight:700;	
}

.header #logo{
	float:left;
	margin-top: 25px;
}

nav#block-system-main-menu{
	float:right;
	margin-top: 45px;
}
nav#block-system-main-menu ul.menu{
	padding: 0px; margin: 0px;
}
nav#block-system-main-menu ul.menu li.leaf{
	float:left;
	list-style: none;
	padding: 0px; margin: 0px;
}
nav#block-system-main-menu ul.menu li.leaf a{
	display:block;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	font-size: 13px;
	color: #808285;
	text-transform:uppercase;
	padding: 2px 8px;
}
nav#block-system-main-menu ul.menu li.last a{
	padding-right: 0px;
}
nav#block-system-main-menu ul.menu li.leaf a.active{
	font-weight:800;
	color: #EA0028;
}
nav#block-system-main-menu ul.menu li.leaf a:hover{
	color: #EA0028;
}

.title#page-title{
	padding-top: 10px;
	padding-bottom: 35px;
	background-image: url('../images/linea_titulo.png');
	background-position: 50% 100%;
	background-repeat: no-repeat;
	font-family: Raleway, sans-serif;
	color: #00aced;
	font-size: 35px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

.footer{
	background-color: #58595B;
	padding-top: 30px;
	min-height: 280px;
}
.footer .grid #logo-footer{
	float:left;
}

.footer .grid #block-block-2{
	float:right;
}
.footer .grid .block-menu-block{
	float:left;
}
.footer .grid #block-menu-block-1{
	width: 250px;
}
.footer .grid #block-menu-block-2{
	width: 230px;
}
.footer .grid #block-menu-block-3{
	width: 210px;
}

.footer .grid .block-menu-block .content .menu-block-wrapper ul{
	list-style: none;
	margin: 0px; padding: 0px;
	float:right;
}
.footer .grid .block-menu-block .content ul li{
	list-style: none;
	margin: 0px; padding: 0px;
}
.footer .grid .block-menu-block .content ul li a{
	font-family: "Raleway", sans-serif;
	font-weight:400;
	font-size: 14px;
	color: #FFFFFF;	
	text-transform: uppercase;
}
.footer .grid .block-menu-block .content ul li a.active{
	font-weight:700;
}
/* Added by Juan */
.below-content .block {
  width: 100%;
  float: left;
}
.main{
	font-family:'Open Sans', sans-serif;
	color: #58595B;
	font-size: 15px;
	
}
.main p{
	line-height: 20px;
}
.main h2{
	color: #EA0028;
	text-transform:uppercase;
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	line-height: 30px;	
}

/* Andrey 11-11-2014 :: servicios-para-empresarios */

#flexslider-1.flexslider{
	background: none;
	border: none;
	margin: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	position:relative;
}

#flexslider-1.flexslider .views-field-nothing{
	position: relative;
	width: 1000px;
	margin: auto;
	top: -535px;	
}

#flexslider-1.flexslider .banner-grande-caption{
	width: 515px;
	height: 305px;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	background-image: url('../images/bg_celeste_t.png');	
}

#flexslider-1.flexslider .banner-grande-caption p.titulo{
	margin-bottom: 30px;
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 28px;
	line-height: 31px;
	font-weight: 500;
	padding-top: 0px;
	margin-top: 0px;
	text-transform: uppercase;	
}

#flexslider-1.flexslider .banner-grande-caption p.descripcion{
	margin-bottom: 30px;
	font-family:'Open Sans', sans-serif;
	color: white;
	font-size: 17px;
	line-height: 23px;
	font-weight: 400;	
}
#flexslider-1.flexslider .banner-grande-caption a{
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 800;
	padding-right: 25px;
	text-decoration: none;
	text-transform: uppercase;
	background-image: url('../images/bullet_link.png');	
	background-position: right center;
	background-repeat: no-repeat;
	
}

ul.bullet_red li {
  margin-bottom: 5px;
  padding-left: 20px;
  background-image: url('../images/bullet_li.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  font-family:'Open Sans', sans-serif;
  color: #58595b;
  font-size: 15px;
  line-height: 16px;
}
ul.bullet_red{
  padding-left: 10px;
}
.main .view-servicios{
	width: 100%;
	height: 311px;	
}
.main .view-servicios .box-imagen-servicio{
	width: 230px;
	height: 144px;
	float: left;
	background-color: #00aced;
}
.main .view-servicios .views-row .box-cotainer{
	/*position:relative;
	width: 230px;
	height: 144px;	*/
}
.main .view-servicios .views-row{
	float:left;
	display:block;
}
.main .view-servicios .box-imagen-servicio p{
  margin-top: 100px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 19px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .view-servicios .box-imagen-servicio.b1 {
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../images/icon_1_p.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
}
.main .view-servicios .box-imagen-servicio.b2 {
  margin-bottom: 20px;
  background-image: url('../images/icon_2_p.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
}
.main .view-servicios .box-imagen-servicio.b3 {
  margin-right: 20px;
  background-image: url('../images/icon_3_p.png');
  background-position: 50% 11px;
  background-repeat: no-repeat;
}
.main .view-servicios .box-imagen-servicio.b4 {
  background-image: url('../images/icon_4_p.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
}
.main .view-servicios div[class^=roll-over]{
	display: block;
	width: 230px;
	height: 144px;
	background-color: #58595B;
	padding-top: 5px;
	position:relative;
}
.main .view-servicios div[class^=roll-over] a{
	display:block;
	float:left;
	font-family: "Raleway", sans-serif;
	font-size: 19px;
	line-height: 15px;
	text-align:center;
	font-weight:800;
	text-transform:uppercase;
	color: #FFFFFF;
	background-image: url("../images/linea_titulo_rollover.png");
	background-repeat: no-repeat;
	background-position: center 30px;
	padding: 8px 4px 0px 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;		
	position:absolute;
}
.main .view-servicios div[class^=roll-over] a p{
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
	text-transform:none;
	font-weight:400;
	
}

/****/

/*
  =MEDIA QUERIES
--------------------------------------------- */
@media only screen and (min-width: 30em) { /* > 480 */

}

@media only screen and (min-width: 30em) and (max-width: 35em) {

}

@media only screen and (min-width: 35em) { /* > 560 */

}

@media only screen and (min-width: 40em) { /* > 640 */

}

@media only screen and (min-width: 45em) { /* > 720 */


}

@media only screen and (min-width: 55em) { /* > 880 */

}

@media only screen and (min-width: 60em) { /* > 960 */

}

@media only screen and (min-width: 62.5em) { /* > 1000 */

  .header .grid,
  .main-content,
  .below-content .grid,
  .footer .grid{
    max-width: 62.5em;
  }

  .one-sidebar .main {
    width: 60%;
  }
  .one-sidebar #sidebar-first {
    width: 40%;
  }

  .below-content #block-views-servicios-servicios-bloques-peq,
  .below-content #block-block-3 {
  width: 50%;
}

}
