@import url(http://fonts.googleapis.com/css?family=Raleway:600,800|Open+Sans);
/*
  =BASE
--------------------------------------------- */
html {
  border-top: 6px solid #000;
}
body {
  padding: 0;
  margin: 0;
}
/*
  =LAYOUT -- mobile first
--------------------------------------------- */
.header .grid,
.main-content,
.footer {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.one-sidebar .main {
  width: 100%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 100%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}


/* Andrey 11-11-2014 */

nav#block-system-main-menu{
}
nav#block-system-main-menu ul.menu{
	padding: 0px; margin: 0px;
}
nav#block-system-main-menu ul.menu li.leaf{
	float:left;
	list-style: none;
	padding: 0px; margin: 0px;
}
nav#block-system-main-menu ul.menu li.leaf a{
	display:block;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	font-size: 13px;
	color: #808285;
	text-transform:uppercase;
	border: none;
}
nav#block-system-main-menu ul.menu li.leaf a.active{
	font-weight:800;
	color: #EA0028;
}


.footer{
	background-color: #58595B;
}
.footer{
	min-height: 280px;
}

/****/

/*
  =MEDIA QUERIES
--------------------------------------------- */
@media only screen and (min-width: 30em) { /* > 480 */

}

@media only screen and (min-width: 30em) and (max-width: 35em) {

}

@media only screen and (min-width: 35em) { /* > 560 */

}

@media only screen and (min-width: 40em) { /* > 640 */

}

@media only screen and (min-width: 45em) { /* > 720 */


}

@media only screen and (min-width: 55em) { /* > 880 */

}

@media only screen and (min-width: 60em) { /* > 960 */

}

@media only screen and (min-width: 62.5em) { /* > 1000 */

  .header .grid,
  .main-content
  {
    max-width: 62.5em;
  }

  .one-sidebar .main {
    width: 60%;
  }
  .one-sidebar #sidebar-first {
    width: 40%;
  }

}
