@media only screen and (min-width: 30em) { /* > 480 */

#block-block-4 #cintillo h4,
#block-block-6 #cintillo h4{
	font-size: 20px;
	margin-top: 22px;
	margin-bottom: 10px;
	width: 100%;
}
#block-block-5 #bloque-comunidad .logos-comunidad img{
	margin-left: 5px;
}

#panels-ipe-paneid-6{
	width: 100%;
	margin: auto;
}
.servicios-bloques .view-content {width: 480px; margin: 0 auto;}

.view-servicios .box-imagen-servicio.b1 {
  margin-right: 20px;
  margin-bottom: 20px;
}
.view-servicios .box-imagen-servicio.b2,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b2 {
  margin-bottom: 20px;
}
#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b2{
	margin-right: 20px;
}
.view-servicios .box-imagen-servicio.b3 {
  margin-right: 20px;
}
#block-views-91b64421d58dd8a04f68aa86a6b33fd4 .servicios-bloques-grande .box-imagen-servicio.b4,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b1{
	margin-right: 20px;
}


.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b1,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b2,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b3,
.page-servicios-para-pymes .view-servicios .box-imagen-servicio.b4{
	margin-right: 20px;
	
}

}
