@media only screen and (min-width: 45em) { /* > 720 */

.title#page-title{
	padding-top: 15px;
	padding-bottom: 30px;
	font-size: 21px;
	line-height: 30px;
}

.not-front .panel-flexible .panel-flexible-inside .encabezado .panels-flexible-row-inside-first p,
.not-front .panel-display .pane-custom .pane-content,
.detalle-socios p{ 

	font-size: 15px;
	line-height: 21px;
}
.panel-flexible .panel-flexible-inside .panels-flexible-row-first{
	padding-top: 30px;
	padding-bottom: 30px;
}
#block-block-5 #bloque-comunidad p{
	font-size: 19px;
	line-height: 21px;
	padding: 0px 60px;
}
#block-block-5 #bloque-comunidad .logos-comunidad img{
	margin-left: 10px;
}

.logos-comunidad{
	width: 585px;
}

#flexslider-1.flexslider .views-field-nothing{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 30px;	
}
.block-webform{
  width: 448px;
  height: 595px;
  margin: auto; 
}


.block-webform h2{
	font-size: 32px;
	line-height: 1.77777em;
}
.contenedor-webform p {
	line-height: 20px;
	font-size: 16px;
}
#flexslider-1.flexslider .banner-grande-caption.peq{
	margin-top: 25px;
}
#flexslider-1.flexslider .banner-grande-caption{
	width: 515px;
	height: 305px;
	padding-right: 30px;
	padding-left: 30px;
}

#flexslider-1.flexslider .banner-grande-caption .titulo p{
	margin-bottom: 30px;
	font-size: 27px;
	line-height: 28px;
}

#flexslider-1.flexslider .banner-grande-caption p.descripcion{
	margin-bottom: 30px;
	font-size: 17px;
	line-height: 23px;
}
#flexslider-1.flexslider .banner-grande-caption a{
	font-size: 20px;	
}

#panels-ipe-paneid-6{
	width: 100%;
	margin: auto;
}



.logos-comunidad{
	text-align: center;
}
#block-block-5 #bloque-comunidad .logos-comunidad img{
	margin-left: 10px;
	width: 180px;
}

.footer .grid #block-menu-block-1{
	width: 15%;
}
.footer .grid #block-menu-block-2{
	width: 25%;
}
.footer .grid #block-menu-block-3{
	width: 15%;
}

.footer .grid #logo-footer{
	float:left;
}

.footer .grid .block-menu-block .content .menu {
	width: auto;
	text-align: left;
}

.footer .grid .block-menu-block{
	margin-top: 0px;
}


.view-servicios{	
	margin-top: 0px;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos {
  width: 31%;
  margin-left: 15px;
}
.panel-flexible .panel-flexible-inside .Centrado .box_stratos.st1 {
  margin-left: 15px;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos_descript {
  font-size: 15px;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos_titulo {
  font-size: 17px;
}

#block-views-socios-block-socios-resumenes .bloques-socios .views-row{
	margin-left: 15px;
	float:left;
	margin-bottom: 30px;
	margin-right: 109px;
}

#block-views-socios-block-socios-resumenes .bloques-socios .views-row-3,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-6,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-9,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-12,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-15,
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-18
#block-views-socios-block-socios-resumenes .bloques-socios .views-row-21{
	margin-right: 0px;
}

.view-servicios.beneficios-bloques .views-row{
	width: 580px;
}
.view-servicios.servicios-bloques-grande .views-row{
	width: 580px;
}
.views-field-field-beneficios ul li{
	margin-right: 10px !important;
}


.front #flexslider-1.flexslider .banner-grande-caption{
	width: 450px;
	height: 230px;
}

.page-invertir-en-empresas-costa-rica .panel-flexible .panel-flexible-inside .panels-flexible-region-first .pane-content{
	padding-right: 10px;
}

.page-invertir-en-empresas-costa-rica .panel-flexible .panel-flexible-inside .panels-flexible-row-last{
	padding-bottom: 10px;
}

}
