.header .utility-bar #cambio-idioma a{
	font-family: 'Open Sans', sans-serif;
}

nav#block-system-main-menu ul.menu li.leaf a{
	font-family: 'Open Sans', sans-serif;
}

.title#page-title{
	font-family: 'Open Sans', sans-serif;
}

.footer .grid .block-menu-block .content ul li a{
	font-family: 'Open Sans', sans-serif;
}

.main h2{
	font-family: 'Open Sans', sans-serif;
}

#flexslider-1.flexslider .banner-grande-caption .titulo p{
	font-family: 'Open Sans', sans-serif;
}

#flexslider-1.flexslider .banner-grande-caption a{
	font-family: 'Open Sans', sans-serif;
}

.block-webform h2{
	font-family: 'Open Sans', sans-serif;
}

.block-webform .webform-client-form .form-text{
	font-family: 'Open Sans', sans-serif;
}
.block-webform .webform-client-form .form-textarea{
	font-family: 'Open Sans', sans-serif;
}
.block-webform .webform-client-form .form-submit{
	font-family: 'Open Sans', sans-serif;
}

.view-servicios .box-imagen-servicio p{
  font-family: 'Open Sans', sans-serif;
}

.view-servicios div[class^=roll-over] a{
	font-family: 'Open Sans', sans-serif;
}

.panel-flexible .panel-flexible-inside .panels-flexible-row-first .box_h_titulo {
	font-family: 'Open Sans', sans-serif;
}

.panel-flexible .panel-flexible-inside .seg-fila .bloque-servicios-home a{
	font-family: 'Open Sans', sans-serif;
}

#block-block-4 #cintillo a,
#block-block-6 #cintillo a{
	font-family: 'Open Sans', sans-serif;
}

#block-block-4 #cintillo h4,
#block-block-6 #cintillo h4{
	font-family: 'Open Sans', sans-serif;
}

.panel-flexible .panel-flexible-inside .Centrado .box_stratos_titulo {
  font-family: 'Open Sans', sans-serif;
}

#accordion .ui-accordion-header {
  font-family: 'Open Sans', sans-serif;
}

.views-field-field-beneficios ul li .beneficios-titulo p{
  font-family: 'Open Sans', sans-serif;
}

#block-views-socios-block-socios-resumenes .bloques-socios .views-row .views-field-title{
	font-family: 'Open Sans', sans-serif;
}
#block-views-socios-block-socios-resumenes .bloques-socios .views-row .views-field-field-relacion{
	font-family: 'Open Sans', sans-serif;
}