.panels-flexible-dos_filas_una_columna .panels-flexible-region {
  padding: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-column {
  padding: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-dos_filas_una_columna .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-dos_filas_una_columna-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-dos_filas_una_columna-inside {
  padding-right: 0px;
}

.panels-flexible-dos_filas_una_columna {
  width: auto;
}

.panels-flexible-region-dos_filas_una_columna-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-dos_filas_una_columna-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-dos_filas_una_columna-centrado_bottom {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-dos_filas_una_columna-1-inside {
  padding-right: 0px;
}

